<header>
  <div>
    <div class="col-12 mb-4"><img src="../assets/images/banner.jpg" width="100%"></div>
  </div>

  <div class="row">
    <p-autoComplete [suggestions]="filteredMovies" [showClear]="true" class="col-6" placeholder="Αναζήτηση Ταινίας"
      (completeMethod)="filterMovies($event)" (onSelect)="goToMoviePage($event)" field="name" [dropdown]="true">
      <ng-template let-movie pTemplate="item">
        <div class="flex align-items-center">
          <img src="{{movie.imageUrl}}" style="width: 100px" />
          <span> {{movie.name}}</span>
        </div>
      </ng-template>
    </p-autoComplete>

    <div class="col-6 text-end social-right mt-2 px-3">
      <a (click)="goToHome()" style="color: white;"><i
        class="pi pi-home m-2" style="vertical-align: -1.5px; font-size: x-large;"></i></a>
      <a href="https://www.facebook.com/groups/midnightexpressgreece/" style="color: white;"><i
          class="pi pi-facebook m-2" style="vertical-align: -1.5px; font-size: x-large;"></i></a>
      <a href="https://www.instagram.com/midnight_express_greece/" style="color: white;"><i class="pi pi-instagram m-2"
          style="vertical-align: -1.5px; font-size: x-large;"></i></a>
    </div>
  </div>

</header>
