<div class="container">
  <section>
    <div class="col-12 p-1"><img src="../assets/images/banner.jpg" width="100%" height="235px"></div>
  </section>

  <section class="row pt-4 p-1">
    <div class="col-12 col-xl-8">

      <div class="row border-bottom mb-4 pb-3">
        <div class="col-4" style="max-width: 200px;"><img src="https://images.savoysystems.co.uk/PCH/26310376.jpg"
            alt="ALL QUIET ON THE WESTERN FRONT (2022)" style="width: 100%;"></div>
        <div class="col-6 col-xl-9 row">
          <h4>ALL QUIET ON THE WESTERN FRONT (2022)</h4>
          <ul>
            <li>Directed by Edward Berger</li>
            <li>Starring Daniel Brühl, Anton Von Lucke, Devid Striesow, Albrecht Schuch, Sebastian Hulk, Edin Hasanovic,
              Felix Kammerer, Moritz Klaus</li>
            <li>exclusive 35mm short-engagement</li>
            <li>Germany, USA (2022)</li>
          </ul>
        </div>
      </div>


      <div class="row border-bottom mb-4 pb-3">
        <div class="col-4" style="max-width: 200px;"><img src="https://images.savoysystems.co.uk/PCH/26310376.jpg"
            alt="ALL QUIET ON THE WESTERN FRONT (2022)" style="width: 100%;"></div>
        <div class="col-6 col-xl-9 row">
          <h4>ALL QUIET ON THE WESTERN FRONT (2022)</h4>
          <ul>
            <li>Directed by Edward Berger</li>
            <li>Starring Daniel Brühl, Anton Von Lucke, Devid Striesow, Albrecht Schuch, Sebastian Hulk, Edin Hasanovic,
              Felix Kammerer, Moritz Klaus</li>
            <li>exclusive 35mm short-engagement</li>
            <li>Germany, USA (2022)</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="col-xl-4 col-12">

      <div class="pb-2"><img width="100%" src="https://images.savoysystems.co.uk/PCH/26434369.jpg"></div>
      <div class="pb-2"><img width="100%" src="https://images.savoysystems.co.uk/PCH/26434369.jpg"></div>
      <div class="pb-2"><img width="100%" src="https://images.savoysystems.co.uk/PCH/26434369.jpg"></div>
      <div class="pb-2"><img width="100%" src="https://images.savoysystems.co.uk/PCH/26434369.jpg"></div>
      <div class="pb-2"><img width="100%" src="https://images.savoysystems.co.uk/PCH/26434369.jpg"></div>
      <div class="pb-2"><img width="100%" src="https://images.savoysystems.co.uk/PCH/26434369.jpg"></div>

    </div>
  </section>
</div>
